doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side Javascript
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic.id)= topic.title
        article
            form(action='/topic/add' method='post')
                p
                    input(type='text' name='title' placeholder='title')
                p
                    textarea(name='description' placeholder='description')
                p
                    input(type='text' name='author' placeholder='author')
                p
                    input(type='submit')
