doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side Javascript
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic.id)= topic.title
        article
            h1='Delete? ' + topic.title
            form(href='/topic/'+topic.id+'/delete' method='post') 
                p
                    input(type='submit' value='YES')
            a(href='/topic/'+topic.id) NO
