doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side Javascript
        ul
            each topic in topics
                li
                    a(href='/topic/'+ topic.id)= topic.title
        article
            form(action='/topic/'+topic.id+'/edit' method='post')
                p
                    input(type='text' name='title' placeholder='title' value=topic.title)
                p
                    textarea(name='description' placeholder='description')
                        =topic.description
                p
                    input(type='text' name='author' placeholder='author' value=topic.author)
                p
                    input(type='submit')
        ul
            li
                a(href='/topics/add') add
            
        
