doctype html
html
    head
        meta(charset='utf-8')
    body
        h1  Server Side Javascript
        form(action='/topic' method='post')
                p
                    input(type='text' name='title' placeholder='title')
                p
                    textarea(name='description')
                p
                    input(type='submit')
