doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side Javascript
        ul
            each topic in topics
                li
                    - rid = encodeURIComponent(topic['@rid'])
                    a(href='/topic/'+ rid)= topic.title
        article
            h2= title
            =description
        div
            a(href='/topics/new') new
