doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side Javascript
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        article
            form(action='/topic' method='post')
                p
                    input(type='text' name='title' placeholder='title')
                p
                    textarea(name='description')
                p
                    input(type='submit')
